header{
    background-color: #9243a152;
    text-align: center;
    
}
body {
    margin: 0px;
    background-color: rgb(43,43,43);
    color: white;
    backgroud-image url("C:\Users\a2211\Downloads\result.png")
    backgrout-repeat: repeat
  }
  main {
    margin: 5px 10px;
  }

h1 {
    color: rgb(36, 216, 0);
    font-size: 300%;
}

h2{
    
    margin-top: 30px;
    color: rgb(165, 62, 114);
    font-size: 150%
}
h4{
    font-size: 130%;
    color: burlywood;
}
a {
    font-size: larger;
    color: lightskyblue;
}

.font-large {
    font-size: large;
}

.font-small {
    font-size: 70%;
}
footer {
    background :#000000;
}
h2::before, h3::before {
    content: '･';
    color: rgba(0, 0, 0, 0);
    margin-right: 14px;
    height: 100%;
    background: #5e1a7e;
}
h5{
    font-size: 130%;
}
